body {
  margin: 0px;
  padding: 0px;
  background: #222831;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.conf {
  align-self: center;
  margin-top: 7px;
}

.colors {
  display: flex;
}

.added-colors {
  display: flex;
  margin-top: 13px;
}

.color {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  display: flex;
  margin-right: 10px;
  flex-direction: row;
  border-radius: 100px;
}

.color-picker {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border-radius: 100px;
}

.color-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: #222831;
}

.conf-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  border: 1px solid #eeee;
  border-radius: 50px 50px 0px 0px;
  text-align: left;
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin-bottom: auto;
  background: #222831;
}

.pixel-container {
  margin-left: 30px;
  margin-top: 30px;
  box-sizing: border-box;
  width: 60%;
  height: 700px;
}

.per-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.open-close-button {
  display: flex;
  margin-top: 30px;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0px;
  bottom: 82px;
  margin-bottom: auto;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  z-index: -1;
}

.open-close-button-inside {
  box-sizing: border-box;
  height: 42px;
  border: 1px solid white;
  width: 34px;
  margin-left: 2px;
  background: #222831;
  transform: rotate(136deg);
}

.open-configuration-container {
  animation-name: open-conf;
  animation-duration: .5s;
}

@keyframes open-conf {
  from {bottom: -99px;} to {bottom: 0px;}
}

@keyframes close-conf {
  from {bottom: 0px;} to {bottom: -99px;}
}

.close-configuration-container {
  animation-name: close-conf;
  animation-duration: .5s;
}
